WITHOUT_AMD=         YES
WITHOUT_APM=         YES
WITHOUT_ATF=         YES
WITHOUT_ATM=         YES
WITHOUT_BLUETOOTH=   YES
WITHOUT_BSNMP=       YES
WITHOUT_CALENDAR=    YES
WITHOUT_CTM=         YES
WITHOUT_FLOPPY=      YES
WITHOUT_GAMES=       YES
WITHOUT_GPIB=        YES
WITHOUT_GPIO=        YES
WITHOUT_HTML=        YES
WITHOUT_I4B=         YES
WITHOUT_IPX=         YES
WITHOUT_KERBEROS=    YES
WITHOUT_LPR=         YES
WITHOUT_NCP=         YES
WITHOUT_NDIS=        YES
WITHOUT_NIS=         YES
WITHOUT_PPP=         YES
WITHOUT_PROFILE=     YES
WITHOUT_RCMDS=       YES
WITHOUT_RCS=         YES
WITHOUT_SENDMAIL=    YES
WITHOUT_SHAREDOCS=   YES
WITHOUT_SYSINSTALL=  YES
WITHOUT_WIRELESS=    YES
WITHOUT_ACCT=        YES
WITHOUT_ACPI=        YES
WITHOUT_BOOT=        YES
WITHOUT_FREEBSD_UPDATE=YES
WITHOUT_IPFILTER=    YES
WITHOUT_IPFW=        YES
WITHOUT_KDUMP=       YES
WITHOUT_KVM=         YES
WITHOUT_NTP=         YES
WITHOUT_PAM=         YES
WITHOUT_PC_SYSINSTALL=YES
WITHOUT_PF=          YES
WITHOUT_PMC=         YES
WITHOUT_QUOTAS=      YES
WITHOUT_RESCUE=      YES
WITHOUT_ROUTED=      YES
WITHOUT_SYSINSTALL=  YES
WITHOUT_USB=         YES
