# ++++++++++++++++++++++++++++
# + Yajam Configuration File +
# ++++++++++++++++++++++++++++
#
# Basically, this file is an ordinary shell script setting some key
# configuration variables. Therefore, compliance with bourne shell
# syntax must be preserved:
#
# * Lines prefixed with `#` are considered as comments.
#   Inline comments are also supported.
# * Strings including white spaces must be enclosed by quotation marks
# * White spaces around the assignment operator (=) are NOT allowed!

# ZFS SETTINGS
# ============

# ZFS pool on which the jail infrastructure resides
#
#ZPOOL=tank

# root of the yajam zfs file system
#
#ZROOTFS=jails

# mount point of the yajam zfs file system
#
#ZMOUNT=/jails

# BUILD SETTINGS
# ==============

# Subversion mirror to be used for retrieving the FreeBSD source tree
#
#SVNMIRROR=svn0.eu.freebsd.org

# Maximum number of parallel build processes to be used
#MAXBUILD=4

# JAIL TEMPLATE SETTINGS
# ======================

# Include Perl symlinks when building the jail templates
#
#LINKPERL=off

# Login class for the user `root`
# If set to `none`, no specific login class will be set.
# This option is intended to be used in conjunction with a jail-specific
# `login.conf` file provided in the yajam configuration directory.
#
#ROOTCLASS=none

# Disable FreeBSD pkg source by default.
#
#FREEBSD_PKG=off

# Time Zone to be installed in jails
# If set to `none`, the system's time zone will be used.
#
#TIMEZONE=none
